@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Frijole|Monoton');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Acme');
*{
    box-sizing: border-box;
}
body{
    font-family:'Roboto Mono', monospace;
    margin:0 auto;

    background:white;

    font-size: medium;

    width:100%;

}
li{
    list-style: none;
}

a {
    color:white;
    letter-spacing: 2px;
    text-decoration: none;
    margin:2px;

    display: inline-block;
    width: 100%;
    text-align: center;
    transition:all 0.5s;
    opacity:0.7;

}
a:hover {
    background:white;
    color:black;

}
.main-header{
    padding:10px;
    width:100%;
    height:100px;
    top:0;
    left:0;
    background:black;
    opacity:0.8;
    position:fixed;
    font-size:20px;
    display:flex;


}
.logo{
    color:white;
     font-weight:100;
    width:186px;
    height:27px;
    margin:20px;
    text-align:center;
    letter-spacing:2px;


 }
.logo:hover{
    background:white;
    color:black;
    cursor:pointer;
}
.header-nav{

    width:1366px;

}

#main-nav{
    width:800px;

    display:flex;
    justify-content:flex-end;
    align-items:center;
    float:right;
}
.buttons{
    flex:1;
    margin: 0 auto;
    color:white;
    padding:10px;
    font-weight: 100;
}
.button1{
    background:yellow;
    color:black;
}
.button1:hover{
    background:lightgoldenrodyellow;
}
.main-content{
    color:black;
    padding-top:100px;
    width:100%;
}

.sec1{
    background:black;
    height:700px;
}
.sec2{
    background:#424242;
    height:600px;
}
.sec3{
    background:#E64A19;
    height:400px;
}
.heading{
    font-weight:100;
    letter-spacing:6px;
    color:white;
    margin-right:10px;
    text-align:right;
    font-family: 'Lobster Two', cursive;
}
main{
    font-family: 'Acme', sans-serif;
    font-size:x-large;
}
.about{
    margin-top:180px;
    font-family: 'Monoton', cursive;
    text-align:center;
    letter-spacing:10px;
    height:100px;
    color:white;

}
.register{
    font-size:14px;
    font-weight:200;
    text-align:center;
    padding-top:80px;
    letter-spacing:10px;
    color:white;
}
.events{
    padding:100px;
    width:100%;
    text-align: center;
    margin-left: 10px;
    letter-spacing:10px;
    height:400px;
    color:white;
    display: flex;
    padding:20px;
    justify-content:center;
    align-content: center;
    align-items:center;
    
}

.e1{
    
    
    height:300px;
    padding:100px;
    margin:60px;
    background-color: #8EA1B3;
    text-align:center;
    flex:1;
    border-radius:6px;
        

}

.e2{
    padding:100px;
    background-color: #1EC6BC;
    text-align:center;
    height:300px;
    margin:60px;
    flex:1;
    border-radius:6px; 
    box-shadow: 0 10px 6px -6px grey;
}
.e3{
    text-align:center;
    height:300px;
    background-color: #AF66E3;
    padding:100px;
    margin:60px;
    flex:1; 
    border-radius:6px; 
    box-shadow: 0 10px 6px -6px grey;
}
.foot{
    padding-top:50px;
    text-align:center;
    letter-spacing:10px;
    background-color:black;
    height:100px;
    color:white;
}
